# macOS
.DS_Store
*.gsheet

# Data and output
data/
*.RData
*.RDS
*.tar.gz
*.html
*.png
*cache*
*_cache/
vignettes/*.html
vignettes/*.pdf
docs/
*.rmarkdown

# RStudio files
.Rproj.user/
.Rhistory
.Rapp.history
.Ruserdata
.Renviron
rsconnect/

# Build and check
*.Rcheck/
*-Ex.R

# Temporary files from R Markdown
*.utf8.md
*.knit.md

# Translation temp files
po/*~

# OAuth tokens
.httr-oauth
